body {
    font-family: sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #168aad;
    position: fixed;
    z-index: 100;

    .logo {
        width: 20%;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;

        .menu-desplegable {
            display: none;

            input {
                display: none;
            }

            label {
                cursor: pointer;
            }

            .menu-desp-items {
                display: none;
            }

        }

        h1 {
            color: whitesmoke;
            display: inline-block;
            font-family: 'Teko', sans-serif;
        }

        img {
            width: 60px;
        }
    }

    .menu {
        width: 60%;

        > ul {
            display: flex;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            height: 70px;
    
            > li {
                display: block;
                list-style: none;

                > a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 18px;
                    height: 70px;
                    padding: 0px 25px;
                }

                .submenu {
                    display: none;
                    position: absolute;

                    ul {
                        padding: 0px;
                        margin: 0px;
                        height: 70px;

                        li {
                            list-style: none;
                            background-color: #168aad;
                            display: block;

                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                color: whitesmoke;
                                font-size: 18px;
                                height: 50px;
                                padding: 0 20px;
                            }
                        }

                        li:hover {
                            background-color: #1a759f;
                        }
                    }
                }
            }

            > li:hover {
                background-color: #1a759f;
                border-bottom: 2px solid whitesmoke;
            }

            > li:hover .submenu {
                display: block;
            }
        }
    }

    .buscador {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
        }

        p {
            color: whitesmoke;
            display: inline-block;
            margin: 0px 10px;
        }
    }
}

header {
    .banner {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .descripcion {
            position: absolute;
            text-align: center;
            left: 15%;
        
            p {
                font-family: 'Teko', sans-serif;
                font-weight: 300;
                font-size: 70px;
                color: white;
                margin: 40px 0px;
            }

            button {
                background-color: #168aad88;
                padding: 15px 60px;
                border: 2px solid #168aad;
                border-radius: 10px;
                color: whitesmoke;
                font-size: 25px;
                transition: background-color 0.08s linear;
            }
            
            button:hover {
                background-color: #168aad;
            }

            button:active {
                background-color: #609bad;
            }
        }
    }
}

main {
    margin: 50px 0px 0px 0px;

    .sobreNosotros {
        height: 70vh;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        .sobreNosotrosTexto {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            .texto {
                text-align: center;
                width: 70%;
    
                h2 {
                    margin: 0px;
                    font-size: 60px;
                    font-family: 'Teko', sans-serif;
                    font-weight: 300;
                }
    
                p {
                    font-size: 20px;
                    margin-top: 30px;
                    text-align: left;
                }
            }
        }

        .imagen {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 370px;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .ropa {
        background-color: #1a759f;
        height: 80vh;
        padding: 30px 0px;
        margin-bottom: 40px;

        h2 {
            color: whitesmoke;
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoRopa {
            display: flex;
            justify-content: center;
            height: 70vh;

            .ropaHombre {
                width: 40%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
    
                img {
                    filter: brightness(70%);
                    width: 90%;
                    position: absolute;
                    transition: filter 0.1s linear;
                }

                img:hover {
                    filter: brightness(100%);
                }
    
                .explorarRopaHombre {
                    width: 90%;
                    position: absolute;
                    text-align: center;
                    bottom: 10%;
    
                    p {
                        color: white;
                        font-size: 30px;
                    }
    
                    button {
                        background-color: #168aad88;
                        padding: 10px 40px;
                        border: 2px solid #168aad;
                        border-radius: 10px;
                        color: whitesmoke;
                        font-size: 18px;
                        transition: background-color 0.08s linear;
                    }

                    button:hover {
                        background-color: #168aad;
                    }
        
                    button:active {
                        background-color: #609bad;
                    }
                }
            }
    
            .ropaMujer {
                width: 40%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
    
                img {
                    filter: brightness(70%);
                    width: 90%;
                    position: absolute;
                    transition: filter 0.1s linear;
                }

                img:hover {
                    filter: brightness(100%);
                }
    
                .explorarRopaMujer {
                    width: 90%;
                    position: absolute;
                    text-align: center;
                    bottom: 10%;
    
                    p {
                        color: white;
                        font-size: 30px;
                    }
    
                    button {
                        background-color: #168aad88;
                        padding: 10px 40px;
                        border: 2px solid #168aad;
                        border-radius: 10px;
                        color: whitesmoke;
                        font-size: 18px;
                        transition: background-color 0.08s linear;
                    }

                    button:hover {
                        background-color: #168aad;
                    }
        
                    button:active {
                        background-color: #609bad;
                    }
                }
            }
        }

    }

    .accesoriosSkates {
        width: 100%;
        height: 100vh;
        margin-bottom: 40px;
        min-height: 600px;

        h2 {
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoAccesoriosSkate {
            width: 80%;
            height: 90vh;
            margin: auto;

            .accesorios {
                width: 100%;
                height: 50%;
                display: flex;
    
                .accesoriosImagen {
                    width: 50%;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .accesoriosTexto {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .texto {
                        width: 400px;
                        font-size: 23px;
                        padding: 10px 40px;
                        border-left: 5px solid #1a759f;
                    }
                }
            }
    
            .skates {
                width: 100%;
                height: 50%;
                display: flex;
    
                .skatesTexto {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .texto {
                        width: 400px;
                        text-align: end;
                        font-size: 23px;
                        padding: 10px 40px;
                        border-right: 5px solid #1a759f;
                    }
                }
    
                .skatesImagen {
                    width: 50%;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .contactenos {
        background-color: #1a759f;
        padding: 30px 0px;

        h2 {
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            color: whitesmoke;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoContacto {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .llamanos {
                width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;

                .llamanosCont {
                    width: 70%;

                    h3 {
                        text-align: center;
                        font-size: 25px;
                    }

                    .numero {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 30px;
                            margin-right: 20px;
                        }

                        a {
                            color: whitesmoke;
                            text-decoration: none;
                            font-size: 30px;
                        }
                    }
                }
            }

            .siguenos {
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;

                .siguenosCont {
                    h3 {
                        text-align: center;
                        font-size: 25px;
                    }

                    .redesSociales {
                        img {
                            width: 50px;
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #343a40;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright {
        width: 70%;
        text-align: center;
        color: white;
        font-size: 17px;
    }
}









@media screen and (max-width:1024px) {
    nav {
        .logo {
            width: 25%;
        }

        .menu {
            width: 60%;

            > ul > li > a {
                padding: 0px 20px;
            }
        }

        .buscador {
            width: 15%;
        }
    }

    main {

        .accesoriosSkates {
            height: 90vh;

            .contenidoAccesoriosSkate {
                height: 80vh;

                .accesorios {

                    .accesoriosTexto {

                        .texto {
                            width: 300px;
                            font-size: 20px;
                            padding: 10px 20px;
                        }
                    }
                }

                .skates {

                    .skatesTexto {

                        .texto {
                            width: 300px;
                            font-size: 20px;
                            padding: 10px 20px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    nav {
        .logo {
            width: 80%;
            justify-content: start;

            .menu-desplegable {
                display: block;
                margin-left: 15px;

                span {
                    padding: 10px;
                    font-size: 35px;
                }

                .menu-desp-items {
                    display: block;
                    position: absolute;
                    width: 300px;
                    top: 70px;
                    left: -300px;
                    transition: all 0.3s ease-in-out;

                    ul {
                        margin: 0px;
                        padding: 0px;

                        li {
                            list-style: none;
                            background-color: #168aad;
                            display: block;
                            border-top: 1px solid whitesmoke;

                            a {
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                text-decoration: none;
                                color: whitesmoke;
                                font-size: 18px;
                                height: 60px;
                            }
                        }

                        li:hover {
                            background-color: #1a759f;
                        }
                    }
                }

                #boton-menu:checked ~ .menu-desp-items {
                    left: 0;
                }
            }

            h1, img {
                display: none;
            }
        }

        .menu {
            display: none;
        }

        .buscador {
            width: 20%;
        }
    }

    main {
        .sobreNosotros {
            display: block;
            height: 100vh;

            .sobreNosotrosTexto {
                width: 100%;
                height: 40vh;

                .texto {
                    p {
                        margin-top: 0px;
                        text-align: justify;
                    }
                }
            }

            .imagen {
                width: 100%;
                height: 60vh;

                img {
                    width: 340px;
                    height: 100%;
                }
            }
        }

        .ropa {
            height: 150vh;

            .contenidoRopa {
                height: 140vh;
                display: block;

                .ropaHombre {
                    width: 100%;
                    height: 47%;
                    margin-bottom: 5%;

                    img {
                        width: 60%;
                    }

                    .explorarRopaHombre {
                        width: 50%;
                    }
                }

                .ropaMujer {
                    width: 100%;
                    height: 47%;

                    img {
                        width: 60%;
                    }

                    .explorarRopaMujer {
                        width: 50%;
                    }
                }
            }
        }

        .accesoriosSkates {
            height: 150vh;

            .contenidoAccesoriosSkate {
                height: 140vh;

                .accesorios {
                    flex-direction: column;
                    align-items: center;

                    .accesoriosImagen {
                        width: 70%;
                        height: 50%;
                    }

                    .accesoriosTexto {
                        width: 70%;
                        height: 50%;
                    }
                }

                .skates {
                    flex-direction: column-reverse;
                    align-items: center;

                    .skatesImagen {
                        width: 70%;
                        height: 50%;
                    }

                    .skatesTexto {
                        width: 70%;
                        height: 50%;
                    }
                }
            }
        }

        .contactenos {

            .contenidoContacto {

                .llamanos {
                    width: 40%;
                }

                .siguenos {
                    width: 50%;

                    .siguenosCont .redesSociales img {
                        width: 40px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:600px) {
    nav {
        .buscador {
            p {
                display: none;
            }
        }
    }

    header {

        .banner .descripcion {
            left: auto;

            p {
                font-size: 60px;
            }
        }
    }

    main {
        .sobreNosotros {

            .sobreNosotrosTexto {

                .texto {

                    h2 {
                        font-size: 50px;
                    }

                    p{
                        font-size: 18px;
                    }
                }
            }

            .imagen {
                
                img {
                    width: 300px;
                }
            }
        }

        .accesoriosSkates {

            .contenidoAccesoriosSkate {

                .accesorios {

                    .accesoriosTexto {
                        width: 80%;
                    }

                    .accesoriosImagen {
                        width: 80%;
                    }
                }

                .skates {

                    .skatesImagen {
                        width: 80%;
                    }

                    .skatesTexto {
                        width: 80%;
                    }
                }
            }
        }

        .contactenos {

            .contenidoContacto {
                flex-direction: column;
                align-items: center;

                .llamanos {
                    width: 90%;
                }

                .siguenos {
                    width: 90%;
                }
            }

        }
    }
}

@media screen and (max-width:480px) {
    main {
        .sobreNosotros {
            height: 90vh;

            .sobreNosotrosTexto {

                .texto {

                    h2 {
                        font-size: 40px;
                    }

                    p {
                        font-size: 16px;
                    }
                }
            }

            .imagen {
                height: 50vh;
                img {
                    width: 230px;
                }
            }
        }

        .ropa {

            .contenidoRopa {

                .ropaHombre {

                    img {
                        width: 70%;
                    }

                    .explorarRopaHombre {

                        p {
                            font-size: 25px;
                        }
                    }
                }

                .ropaMujer {

                    img {
                        width: 70%;
                    }

                    .explorarRopaMujer {

                        p {
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .contactenos {

            .contenidoContacto {

                .llamanos .llamanosCont .numero a {
                    font-size: 25px;
                }

                .siguenos .siguenosCont .redesSociales img {
                    width: 30px;
                }
            }
        }
    }
}

@media screen and (max-width:320px) {
    main {
        .sobreNosotros {
            height: 100vh;

            .sobreNosotrosTexto {
                height: 50vh;
            }
        }

        .ropa {
            height: 145vh;

            .contenidoRopa {

                .ropaHombre {

                    img {
                        width: 80%;
                    }

                    .explorarRopaHombre {
                        bottom: 30px;

                        p {
                            font-size: 20px;
                        }
                    }
                }

                .ropaMujer {

                    img {
                        width: 80%;
                    }

                    .explorarRopaMujer {
                        bottom: 30px;

                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        .accesoriosSkates {
            height: 120vh;

            .contenidoAccesoriosSkate {
                height: 110vh;

                .accesorios {

                    .accesoriosImagen {
                        height: 55%;
                        width: 90%;
                    }

                    .accesoriosTexto {
                        height: 40%;
                        width: 90%;

                        .texto {
                            font-size: 16px;
                            padding: 0px 20px;
                        }
                    }
                }

                .skates {
                    .skatesImagen {
                        height: 55%;
                        width: 90%;
                    }

                    .skatesTexto {
                        height: 40%;
                        width: 90%;

                        .texto {
                            font-size: 16px;
                            padding: 0px 20px;
                        }
                    }
                }
            }
        }
    }

    footer {

        .copyright {
            font-size: 16px;
        }
    }
}