body {
    font-family: sans-serif;
    margin: 0px;
}

nav {
    display: flex;
    width: 100%;
    height: 70px;
    align-items: center;
    background-color: #168aad;
    position: fixed;
    z-index: 100;

    .logo {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            color: whitesmoke;
            display: inline-block;
            font-family: 'Teko', sans-serif;
        }

        img {
            width: 60px;
        }
    }

    .menu {
        width: 60%;

        > ul {
            display: flex;
            justify-content: center;
            padding: 0px;
            margin: 0px;
            height: 70px;
    
            > li {
                display: block;
                list-style: none;

                > a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-decoration: none;
                    color: whitesmoke;
                    font-size: 18px;
                    height: 70px;
                    padding: 0px 25px;
                }

                .submenu {
                    display: none;
                    position: absolute;

                    ul {
                        padding: 0px;
                        margin: 0px;
                        height: 70px;

                        li {
                            list-style: none;
                            background-color: #168aad;
                            display: block;

                            a {
                                display: flex;
                                align-items: center;
                                text-decoration: none;
                                color: whitesmoke;
                                font-size: 18px;
                                height: 50px;
                                padding: 0 20px;
                            }
                        }

                        li:hover {
                            background-color: #1a759f;
                        }
                    }
                }
            }

            > li:hover {
                background-color: #1a759f;
            }

            > li:hover .submenu {
                display: block;
            }
        }
    }

    .buscador {
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 30px;
        }

        p {
            color: whitesmoke;
            display: inline-block;
            margin: 0px 10px;
        }
    }
}

header {
    .banner {
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
        }

        .descripcion {
            position: absolute;
            text-align: center;
            left: 15%;
        
            p {
                font-family: 'Teko', sans-serif;
                font-weight: 300;
                font-size: 70px;
                color: white;
                margin: 40px 0px;
            }

            button {
                background-color: #168aad88;
                padding: 15px 60px;
                border: 2px solid #168aad;
                border-radius: 10px;
                color: whitesmoke;
                font-size: 25px;
            }
            
            button:hover {
                background-color: #168aad;
            }

            button:active {
                background-color: #609bad;
            }
        }
    }
}

main {
    margin: 50px 0px 0px 0px;

    .sobreNosotros {
        height: 70vh;
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        .sobreNosotrosTexto {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            .texto {
                text-align: center;
                width: 70%;
    
                h2 {
                    margin: 0px;
                    font-size: 60px;
                    font-family: 'Teko', sans-serif;
                    font-weight: 300;
                }
    
                p {
                    font-size: 20px;
                    margin-top: 30px;
                    text-align: left;
                }
            }
        }

        .imagen {
            width: 40%;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 70%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .ropa {
        background-color: #1a759f;
        height: 80vh;
        padding: 30px 0px;
        margin-bottom: 40px;

        h2 {
            color: whitesmoke;
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoRopa {
            display: flex;
            justify-content: center;
            height: 70vh;

            .ropaHombre {
                width: 40%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
    
                img {
                    filter: brightness(70%);
                    width: 90%;
                    position: absolute;
                }

                img:hover {
                    filter: brightness(100%);
                }
    
                .explorarRopaHombre {
                    position: absolute;
                    text-align: center;
                    bottom: 10%;
    
                    p {
                        color: white;
                        font-size: 30px;
                    }
    
                    button {
                        background-color: #168aad88;
                        padding: 10px 40px;
                        border: 2px solid #168aad;
                        border-radius: 10px;
                        color: whitesmoke;
                        font-size: 18px;
                    }

                    button:hover {
                        background-color: #168aad;
                    }
        
                    button:active {
                        background-color: #609bad;
                    }
                }
            }
    
            .ropaMujer {
                width: 40%;
                height: 100%;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: center;
    
                img {
                    filter: brightness(70%);
                    width: 90%;
                    position: absolute;
                }

                img:hover {
                    filter: brightness(100%);
                }
    
                .explorarRopaMujer {
                    position: absolute;
                    text-align: center;
                    bottom: 10%;
    
                    p {
                        color: white;
                        font-size: 30px;
                    }
    
                    button {
                        background-color: #168aad88;
                        padding: 10px 40px;
                        border: 2px solid #168aad;
                        border-radius: 10px;
                        color: whitesmoke;
                        font-size: 18px;
                    }

                    button:hover {
                        background-color: #168aad;
                    }
        
                    button:active {
                        background-color: #609bad;
                    }
                }
            }
        }

    }

    .accesoriosSkates {
        width: 100%;
        height: 100vh;
        margin-bottom: 40px;
        min-height: 600px;

        h2 {
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoAccesoriosSkate {
            width: 80%;
            height: 90vh;
            margin: auto;

            .accesorios {
                width: 100%;
                height: 50%;
                display: flex;
    
                .accesoriosImagen {
                    width: 50%;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                .accesoriosTexto {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .texto {
                        width: 400px;
                        font-size: 23px;
                        padding: 10px 40px;
                        border-left: 5px solid #1a759f;
                    }
                }
            }
    
            .skates {
                width: 100%;
                height: 50%;
                display: flex;
    
                .skatesTexto {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    .texto {
                        width: 400px;
                        text-align: end;
                        font-size: 23px;
                        padding: 10px 40px;
                        border-right: 5px solid #1a759f;
                    }
                }
    
                .skatesImagen {
                    width: 50%;
    
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
    }

    .contactenos {
        background-color: #1a759f;
        padding: 30px 0px;

        h2 {
            font-family: 'Teko', sans-serif;
            font-weight: 300;
            font-size: 50px;
            color: whitesmoke;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px;
        }

        .contenidoContacto {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;

            .llamanos {
                width: 35%;
                display: flex;
                justify-content: center;
                align-items: center;

                .llamanosCont {
                    width: 70%;

                    h3 {
                        text-align: center;
                    }

                    .numero {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        img {
                            width: 30px;
                            margin: 0px 20px;
                        }

                        a {
                            text-decoration: none;
                            font-size: 30px;
                        }
                    }
                }
            }

            .siguenos {
                width: 45%;
                display: flex;
                justify-content: center;
                align-items: center;

                .siguenosCont {
                    h3 {
                        text-align: center;
                    }

                    .redesSociales {
                        img {
                            width: 50px;
                            margin: 0px 10px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    background-color: #343a40;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .copyright {
        color: white;
        font-size: 17px;
        display: inline-block;
    }
}