body {
  font-family: sans-serif;
  margin: 0px;
}

nav {
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: #168aad;
  position: fixed;
  z-index: 100;
}
nav .logo {
  width: 20%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .logo .menu-desplegable {
  display: none;
}
nav .logo .menu-desplegable input {
  display: none;
}
nav .logo .menu-desplegable label {
  cursor: pointer;
}
nav .logo .menu-desplegable .menu-desp-items {
  display: none;
}
nav .logo h1 {
  color: whitesmoke;
  display: inline-block;
  font-family: "Teko", sans-serif;
}
nav .logo img {
  width: 60px;
}
nav .menu {
  width: 60%;
}
nav .menu > ul {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  height: 70px;
}
nav .menu > ul > li {
  display: block;
  list-style: none;
}
nav .menu > ul > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  height: 70px;
  padding: 0px 25px;
}
nav .menu > ul > li .submenu {
  display: none;
  position: absolute;
}
nav .menu > ul > li .submenu ul {
  padding: 0px;
  margin: 0px;
  height: 70px;
}
nav .menu > ul > li .submenu ul li {
  list-style: none;
  background-color: #168aad;
  display: block;
}
nav .menu > ul > li .submenu ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  font-size: 18px;
  height: 50px;
  padding: 0 20px;
}
nav .menu > ul > li .submenu ul li:hover {
  background-color: #1a759f;
}
nav .menu > ul > li:hover {
  background-color: #1a759f;
  border-bottom: 2px solid whitesmoke;
}
nav .menu > ul > li:hover .submenu {
  display: block;
}
nav .buscador {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .buscador img {
  width: 30px;
}
nav .buscador p {
  color: whitesmoke;
  display: inline-block;
  margin: 0px 10px;
}

header .banner {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}
header .banner .descripcion {
  position: absolute;
  text-align: center;
  left: 15%;
}
header .banner .descripcion p {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 70px;
  color: white;
  margin: 40px 0px;
}
header .banner .descripcion button {
  background-color: #168aad88;
  padding: 15px 60px;
  border: 2px solid #168aad;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 25px;
  transition: background-color 0.08s linear;
}
header .banner .descripcion button:hover {
  background-color: #168aad;
}
header .banner .descripcion button:active {
  background-color: #609bad;
}

main {
  margin: 50px 0px 0px 0px;
}
main .sobreNosotros {
  height: 70vh;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
}
main .sobreNosotros .sobreNosotrosTexto {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sobreNosotros .sobreNosotrosTexto .texto {
  text-align: center;
  width: 70%;
}
main .sobreNosotros .sobreNosotrosTexto .texto h2 {
  margin: 0px;
  font-size: 60px;
  font-family: "Teko", sans-serif;
  font-weight: 300;
}
main .sobreNosotros .sobreNosotrosTexto .texto p {
  font-size: 20px;
  margin-top: 30px;
  text-align: left;
}
main .sobreNosotros .imagen {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .sobreNosotros .imagen img {
  width: 370px;
  height: 100%;
  object-fit: cover;
}
main .ropa {
  background-color: #1a759f;
  height: 80vh;
  padding: 30px 0px;
  margin-bottom: 40px;
}
main .ropa h2 {
  color: whitesmoke;
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
main .ropa .contenidoRopa {
  display: flex;
  justify-content: center;
  height: 70vh;
}
main .ropa .contenidoRopa .ropaHombre {
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
main .ropa .contenidoRopa .ropaHombre img {
  filter: brightness(70%);
  width: 90%;
  position: absolute;
  transition: filter 0.1s linear;
}
main .ropa .contenidoRopa .ropaHombre img:hover {
  filter: brightness(100%);
}
main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre {
  width: 90%;
  position: absolute;
  text-align: center;
  bottom: 10%;
}
main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre p {
  color: white;
  font-size: 30px;
}
main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre button {
  background-color: #168aad88;
  padding: 10px 40px;
  border: 2px solid #168aad;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 18px;
  transition: background-color 0.08s linear;
}
main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre button:hover {
  background-color: #168aad;
}
main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre button:active {
  background-color: #609bad;
}
main .ropa .contenidoRopa .ropaMujer {
  width: 40%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
main .ropa .contenidoRopa .ropaMujer img {
  filter: brightness(70%);
  width: 90%;
  position: absolute;
  transition: filter 0.1s linear;
}
main .ropa .contenidoRopa .ropaMujer img:hover {
  filter: brightness(100%);
}
main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer {
  width: 90%;
  position: absolute;
  text-align: center;
  bottom: 10%;
}
main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer p {
  color: white;
  font-size: 30px;
}
main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer button {
  background-color: #168aad88;
  padding: 10px 40px;
  border: 2px solid #168aad;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 18px;
  transition: background-color 0.08s linear;
}
main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer button:hover {
  background-color: #168aad;
}
main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer button:active {
  background-color: #609bad;
}
main .accesoriosSkates {
  width: 100%;
  height: 100vh;
  margin-bottom: 40px;
  min-height: 600px;
}
main .accesoriosSkates h2 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
main .accesoriosSkates .contenidoAccesoriosSkate {
  width: 80%;
  height: 90vh;
  margin: auto;
}
main .accesoriosSkates .contenidoAccesoriosSkate .accesorios {
  width: 100%;
  height: 50%;
  display: flex;
}
main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosImagen {
  width: 50%;
}
main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosImagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto .texto {
  width: 400px;
  font-size: 23px;
  padding: 10px 40px;
  border-left: 5px solid #1a759f;
}
main .accesoriosSkates .contenidoAccesoriosSkate .skates {
  width: 100%;
  height: 50%;
  display: flex;
}
main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto .texto {
  width: 400px;
  text-align: end;
  font-size: 23px;
  padding: 10px 40px;
  border-right: 5px solid #1a759f;
}
main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesImagen {
  width: 50%;
}
main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesImagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .contactenos {
  background-color: #1a759f;
  padding: 30px 0px;
}
main .contactenos h2 {
  font-family: "Teko", sans-serif;
  font-weight: 300;
  font-size: 50px;
  color: whitesmoke;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
main .contactenos .contenidoContacto {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
main .contactenos .contenidoContacto .llamanos {
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contactenos .contenidoContacto .llamanos .llamanosCont {
  width: 70%;
}
main .contactenos .contenidoContacto .llamanos .llamanosCont h3 {
  text-align: center;
  font-size: 25px;
}
main .contactenos .contenidoContacto .llamanos .llamanosCont .numero {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contactenos .contenidoContacto .llamanos .llamanosCont .numero img {
  width: 30px;
  margin-right: 20px;
}
main .contactenos .contenidoContacto .llamanos .llamanosCont .numero a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 30px;
}
main .contactenos .contenidoContacto .siguenos {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .contactenos .contenidoContacto .siguenos .siguenosCont h3 {
  text-align: center;
  font-size: 25px;
}
main .contactenos .contenidoContacto .siguenos .siguenosCont .redesSociales img {
  width: 50px;
  margin: 0px 10px;
}

footer {
  background-color: #343a40;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .copyright {
  width: 70%;
  text-align: center;
  color: white;
  font-size: 17px;
}

@media screen and (max-width: 1024px) {
  nav .logo {
    width: 25%;
  }
  nav .menu {
    width: 60%;
  }
  nav .menu > ul > li > a {
    padding: 0px 20px;
  }
  nav .buscador {
    width: 15%;
  }

  main .accesoriosSkates {
    height: 90vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate {
    height: 80vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto .texto {
    width: 300px;
    font-size: 20px;
    padding: 10px 20px;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto .texto {
    width: 300px;
    font-size: 20px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 900px) {
  nav .logo {
    width: 80%;
    justify-content: start;
  }
  nav .logo .menu-desplegable {
    display: block;
    margin-left: 15px;
  }
  nav .logo .menu-desplegable span {
    padding: 10px;
    font-size: 35px;
  }
  nav .logo .menu-desplegable .menu-desp-items {
    display: block;
    position: absolute;
    width: 300px;
    top: 70px;
    left: -300px;
    transition: all 0.3s ease-in-out;
  }
  nav .logo .menu-desplegable .menu-desp-items ul {
    margin: 0px;
    padding: 0px;
  }
  nav .logo .menu-desplegable .menu-desp-items ul li {
    list-style: none;
    background-color: #168aad;
    display: block;
    border-top: 1px solid whitesmoke;
  }
  nav .logo .menu-desplegable .menu-desp-items ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    height: 60px;
  }
  nav .logo .menu-desplegable .menu-desp-items ul li:hover {
    background-color: #1a759f;
  }
  nav .logo .menu-desplegable #boton-menu:checked ~ .menu-desp-items {
    left: 0;
  }
  nav .logo h1, nav .logo img {
    display: none;
  }
  nav .menu {
    display: none;
  }
  nav .buscador {
    width: 20%;
  }

  main .sobreNosotros {
    display: block;
    height: 100vh;
  }
  main .sobreNosotros .sobreNosotrosTexto {
    width: 100%;
    height: 40vh;
  }
  main .sobreNosotros .sobreNosotrosTexto .texto p {
    margin-top: 0px;
    text-align: justify;
  }
  main .sobreNosotros .imagen {
    width: 100%;
    height: 60vh;
  }
  main .sobreNosotros .imagen img {
    width: 340px;
    height: 100%;
  }
  main .ropa {
    height: 150vh;
  }
  main .ropa .contenidoRopa {
    height: 140vh;
    display: block;
  }
  main .ropa .contenidoRopa .ropaHombre {
    width: 100%;
    height: 47%;
    margin-bottom: 5%;
  }
  main .ropa .contenidoRopa .ropaHombre img {
    width: 60%;
  }
  main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre {
    width: 50%;
  }
  main .ropa .contenidoRopa .ropaMujer {
    width: 100%;
    height: 47%;
  }
  main .ropa .contenidoRopa .ropaMujer img {
    width: 60%;
  }
  main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer {
    width: 50%;
  }
  main .accesoriosSkates {
    height: 150vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate {
    height: 140vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios {
    flex-direction: column;
    align-items: center;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosImagen {
    width: 70%;
    height: 50%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto {
    width: 70%;
    height: 50%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates {
    flex-direction: column-reverse;
    align-items: center;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesImagen {
    width: 70%;
    height: 50%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto {
    width: 70%;
    height: 50%;
  }
  main .contactenos .contenidoContacto .llamanos {
    width: 40%;
  }
  main .contactenos .contenidoContacto .siguenos {
    width: 50%;
  }
  main .contactenos .contenidoContacto .siguenos .siguenosCont .redesSociales img {
    width: 40px;
  }
}
@media screen and (max-width: 600px) {
  nav .buscador p {
    display: none;
  }

  header .banner .descripcion {
    left: auto;
  }
  header .banner .descripcion p {
    font-size: 60px;
  }

  main .sobreNosotros .sobreNosotrosTexto .texto h2 {
    font-size: 50px;
  }
  main .sobreNosotros .sobreNosotrosTexto .texto p {
    font-size: 18px;
  }
  main .sobreNosotros .imagen img {
    width: 300px;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto {
    width: 80%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosImagen {
    width: 80%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesImagen {
    width: 80%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto {
    width: 80%;
  }
  main .contactenos .contenidoContacto {
    flex-direction: column;
    align-items: center;
  }
  main .contactenos .contenidoContacto .llamanos {
    width: 90%;
  }
  main .contactenos .contenidoContacto .siguenos {
    width: 90%;
  }
}
@media screen and (max-width: 480px) {
  main .sobreNosotros {
    height: 90vh;
  }
  main .sobreNosotros .sobreNosotrosTexto .texto h2 {
    font-size: 40px;
  }
  main .sobreNosotros .sobreNosotrosTexto .texto p {
    font-size: 16px;
  }
  main .sobreNosotros .imagen {
    height: 50vh;
  }
  main .sobreNosotros .imagen img {
    width: 230px;
  }
  main .ropa .contenidoRopa .ropaHombre img {
    width: 70%;
  }
  main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre p {
    font-size: 25px;
  }
  main .ropa .contenidoRopa .ropaMujer img {
    width: 70%;
  }
  main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer p {
    font-size: 25px;
  }
  main .contactenos .contenidoContacto .llamanos .llamanosCont .numero a {
    font-size: 25px;
  }
  main .contactenos .contenidoContacto .siguenos .siguenosCont .redesSociales img {
    width: 30px;
  }
}
@media screen and (max-width: 320px) {
  main .sobreNosotros {
    height: 100vh;
  }
  main .sobreNosotros .sobreNosotrosTexto {
    height: 50vh;
  }
  main .ropa {
    height: 145vh;
  }
  main .ropa .contenidoRopa .ropaHombre img {
    width: 80%;
  }
  main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre {
    bottom: 30px;
  }
  main .ropa .contenidoRopa .ropaHombre .explorarRopaHombre p {
    font-size: 20px;
  }
  main .ropa .contenidoRopa .ropaMujer img {
    width: 80%;
  }
  main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer {
    bottom: 30px;
  }
  main .ropa .contenidoRopa .ropaMujer .explorarRopaMujer p {
    font-size: 20px;
  }
  main .accesoriosSkates {
    height: 120vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate {
    height: 110vh;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosImagen {
    height: 55%;
    width: 90%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto {
    height: 40%;
    width: 90%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .accesorios .accesoriosTexto .texto {
    font-size: 16px;
    padding: 0px 20px;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesImagen {
    height: 55%;
    width: 90%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto {
    height: 40%;
    width: 90%;
  }
  main .accesoriosSkates .contenidoAccesoriosSkate .skates .skatesTexto .texto {
    font-size: 16px;
    padding: 0px 20px;
  }

  footer .copyright {
    font-size: 16px;
  }
}

/*# sourceMappingURL=index.css.map */
